@model ProyectoClinica.Models.Caso

@{
    ViewData["Title"] = "Crear - Caso";
}

<h1>Crear</h1>

<h4>Caso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idpaciente" class="control-label">Paciente</label>
                <select asp-for="Idpaciente" class="form-control" asp-items="ViewBag.Idpaciente"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaDeApertura" class="control-label">Fecha de apertura</label>
                <input asp-for="FechaDeApertura" class="form-control" />
                <span asp-validation-for="FechaDeApertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivoConsulta" class="control-label">Motivo de Consulta</label>
                <input asp-for="MotivoConsulta" class="form-control" />
                <span asp-validation-for="MotivoConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Antecedentes" class="control-label">Antecedentes</label>
                <input asp-for="Antecedentes" class="form-control" />
                <span asp-validation-for="Antecedentes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnostico" class="control-label">Diagnóstico</label>
                <input asp-for="Diagnostico" class="form-control" />
                <span asp-validation-for="Diagnostico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferidoPor" class="control-label">Referido por</label>
                <input asp-for="ReferidoPor" class="form-control" />
                <span asp-validation-for="ReferidoPor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
